/**
 * Triton Player Skin
 * Flaming Orange 1.1
 * June 2011
 */

/*----------------------*/
/* Type Selector Styles */
/*----------------------*/
Application
{
	themeColor: #E86618;
}
HSlider
{
	thumb-skin: ClassReference(null);
	invertThumbDirection: true;
	showTrackHighlight: true;
	themeColor: #E86618;
	thumbColor: #E86618;
	trackColor: #E94C00;
}
ProgressBar
{
	bar-color:#E86618;
	track-colors:#404040,#404040;
	border-color:#000000;
	border-style:solid;
	border-thickness:1px;
}
ScrollBar
{
	trackSkin: Embed(source='orange/track.png', scaleGridLeft=6, scaleGridRight=7, scaleGridTop=26,scaleGridBottom=330);
	thumbUpSkin:Embed(source='orange/thumb_up.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120);
	thumbOverSkin:Embed(source='orange/thumb_over.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120);
	thumbDownSkin:Embed(source='orange/thumb_over.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120); 
	upArrowUpSkin:Embed(source='orange/top_arrow_up.png');
	upArrowDownSkin:Embed(source='orange/top_arrow_over.png');
	upArrowOverSkin:Embed(source='orange/top_arrow_over.png');
	downArrowUpSkin:Embed(source='orange/bottom_arrow_up.png');
	downArrowDownSkin:Embed(source='orange/bottom_arrow_over.png');
	downArrowOverSkin:Embed(source='orange/bottom_arrow_over.png');
}
ToolTip
{
    backgroundAlpha: 0.8;
    backgroundColor: #cccccc;
    fontWeight: bold;
	color: white;
}
FXSlider
{
	thumb-color: #E86618;
	theme-color: #ff9900;
	track-color: #a1a1a1;
}
Visualization
{
	audioFillColor: #E94C00;
	audioLineColor: #E86618;
}
InfoView
{
	glowEffectColor: #E86618;
}

/*-----------------------*/
/* Class Selector Styles */
/*-----------------------*/

/* Canvas Styles */
.outerCanvasGradient
{
	 fillColors:#f2f2f2,#f2f2f2;
	 border-style:solid;
	 border-thickness-top :5; 
	 border-thickness-bottom:10;
	 border-thickness-right:10;
	 border-thickness-left:10;
   	 border-color:#000000;
	 cornerRadius: 8;
	 alpha: 0.4;
} 
.outerCanvasGradientAlt
{
	fillColors:#999999, #666666;
	border-style:solid;
	border-thickness-top :5; 
	border-thickness-bottom:10;
	border-thickness-right:10;
	border-thickness-left:10;
   	border-color:#999999;
	cornerRadius: 8;
	angle:270;
}
.innerCanvasGradient
{
	 fillColors:  #404040,#040404,#404040;
	 angle:90;
	 border-style:none;
   	 cornerRadius: 8;	
}
.modalWindowCanvas
{
	fillColors:  #ffffff, #f4f4f4;
	fill-alphas:0.4, 0.4;
	angle:270;
	corner-radius:8;
}
.controlsBackgroundNormal
{
	fillColors:#b2b2b2,#f1f1f1,#ffffff;
	angle:90;
}
.controlsBackgroundHighlight
{
	fillColors:#ffffff,#f1f1f1,#b2b2b2;
	angle:90;
}
.removeItemStyle
{
	fillColors:  #E94C00,#FF0000;
	angle:90;
	color:#ffffff;
	border-style:solid;
	border-color:#ffffff;
	border-thickness:1px;
	cornerRadius: 4;
	font-size:12px;
	fontFamily:embeddedCalibriFont;
}
.highlightStyle
{
	background-color:#ffffff;
	background-alpha:0.2;
}
.dividerRightColor
{
	background-color: #ffffff;
}
.dividerLeftColor
{
	background-color: #f3f3f3;
}
/* Text Styles */
.applicationTitleText
{
	color:#000000;
	font-size:12px;
	font-weight:bold;
}
.trackDetailsStyle
{
	font-size:16;
	color:#E86618;
	fontFamily:embeddedCalibriFont;
}
.scrollingTextStyle
{
	font-size:12;
	color:#f4f4f4;
}
.playlistItemNormal
{
	font-size:14;
	color:#FFFFFF;
	fontFamily:embeddedCalibriFont;
}
.playlistItemHighlighted
{
	font-size:14;
	color:#121212;
	background-color:#E94C00;
	fontFamily:embeddedCalibriFont;
}
.playlistItemSelected
{
	font-size:14;
	color:#000000;
	background-color:#E86618;
	fontFamily:embeddedCalibriFont;
}
.timerTextStyle
{
	font-size:14;
	color:#FFFFFF;
	fontFamily:embeddedCalibriFont;
}
.smallInfoText
{
	font-size:12;
	color:#E86618;
	fontFamily:embeddedCalibriFont;
}
.settingsTitleText
{
	font-size:14;
	font-weight:bold;
	color:#ffffff;
}
.settingsContentText
{
	font-size:12;
	color:#ffffff;
	text-roll-over-color:#FFFFFF;
	text-selected-color:#FFFFFF;
}
/* Other styles */
.playlistStyle
{
	border-alpha: 0;
	focus-alpha: 0;
	backgroundAlpha: 0;
	corner-radius: 8;
   	rollOverColor: #E94C00;
   	textRollOverColor: #121212;
   	borderStyle: none;
   	selectionColor: #E86618;
   	corner-radius: 8;
   	color: #ffffff;
   	font-size: 14;
   	fontWeight: normal;
   	fontFamily: embeddedCalibriFont;
}
.linkButtonStyle
{
	color: #eeeeee;
	roll-over-color: #E86618;
	textRollOverColor:#ffffff;
	selection-color:#E94C00;
}
.buttonStyle
{
   cornerRadius: 8;
   highlightAlphas: 0.62, 0.42;
   fillAlphas: 0.82, 0.4, 0.75, 0.65;
   fillColors: #e86618, #e94c00, #e94c00, #e86618;
   color: #000000;
   borderColor: #fefefe;
   themeColor: #e94c00;
   text-roll-over-color:#eeeeee;
}
.checkBoxStyle
{
   	fillAlphas: 1,1;
   	fillColors: #ffffff,#ffffff;
   	borderColor: #E86618;
   	themeColor: #E86618;
   	font-size:12;
	color:#ffffff;
	text-roll-over-color:#eeeeee;
	text-selected-color:#eeeeee;
}
.comboBoxStyle
{
   cornerRadius: 4;
   highlightAlphas: 0.62, 0.42;
   fillAlphas: 0.82, 0.4, 0.75, 0.65;
   fillColors: #e86618, #e94c00, #e94c00, #e86618;
   color: #000000;
   borderColor: #fefefe;
   themeColor: #e94c00;
   text-roll-over-color:#eeeeee;
   text-selected-color:#eeeeee;
}

/* Separator used to divide sections in SettingsPanel */
.separatorStyle
{
	background-color:#E86618;
}